<div class="row">
  <div class="span4">
    <form class="form" action="/issues">
      <input type="hidden" name="token" value="<%= params[:token] %>" />
      <div class="control-group">
        <label>Owner</label>
        <select name="owner">
          <option value="all">All</option>
          <% @wrapper.owners.map { |owner| owner.downcase }.sort.each do |owner| %>
            <option value="<%= owner %>" <%= "selected" if params[:owner] == owner %> ><%= owner %></option>
          <% end %>
        </select>
      </div>

      <div class="control-group">
        <label>Repository</label>
        <select name="name">
          <option value="all">All</option>
          <% @wrapper.names.map { |name| name.downcase }.sort.each do |name| %>
            <option value="<%= name %>" <%= "selected" if params[:name] == name %> ><%= name %></option>
          <% end %>
        </select>
      </div>
      <button type="submit" class="btn">Filter</button>
    </form>
  </div>
  <div class="span8">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Repository</th>
          <th>Number</th>
          <th>Title</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        <% @wrapper.issues.each do |issue| %>
          <tr>
            <td><%= issue.owner %>/<%= issue.name %></td>
            <td><%= issue.number %></td>
            <td><a href="<%= issue.url %>"><%= issue.title %></a></td>
            <td><%= issue.created_at.stamp("Saturday 18th May 2013 at 5:01pm") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

